extends layout

block content
  header
    a(href='.')
      img(src='/images/wine-search.svg')
    #search-input
    #search-input-icon
  main
    #left-column
      #domain.facet
      #price.facet
      #year.facet
      #type.facet
    #right-column
      #stats
      #hits
      #pagination
  script#hit-template(type='text/html').
    <div class="hit">
      <div class="hit-image">
        <img src="{{image}}" alt="{{name}}">
      </div>
      <div class="hit-content">
        <h3 class="hit-price">${{price}}</h3>
        <h3 class="hit-price">{{quality}}</h3>
        <h2 class="hit-name">{{{_highlightResult.name.value}}}</h2>
        <p>{{{_highlightResult.type.value}}}</p>
        <p>{{year}}</p>
        <p>{{{_highlightResult.domain.value}}}</p>
      </div>
    </div>
  script#no-results-template(type='text/html').
    <div id="no-results-message">
      <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
      <a href="." class='clear-all'>Clear search</a>
    </div>
  script(src='https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js')
  script(src='/javascripts/search.js')

