<main>
  <div id="left-column">
    <div id="domain"></div>
  </div>
  <div id="right-column">
    <div id="search-input"></div>
    <div id="stats"></div>
    <div id="results"></div>
  </div>
</main>
